<% if signed_in? %>
	<% if @listing.count == 0 %>
		<h2>No listing found.</h2>
	<% else %>
		<%= paginate(@listing) %>
		<ul>
			<% @listing.each do |listing| %>
			<li>
				<%= listing.name %>
				<a href="/listings/<%= listing.id %>">View Details</a>
			</li>
			<% end %>
		</ul>		
		<%= paginate(@listing) %>
	<% end %>
<% end %>