<div id="listingform" class="listings">

	<h2>New Listing</h2>

	<%= form_for @listing do |form| %>
    	<%= render partial: '/listings/form', object: form %>

    	<div class="submit-field">
      		<%= form.submit %>
    	</div>

    <% end %>

</div>